/* Coolors Exported Palette - https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 */

/* CSS HEX */
--caribbean-current: #006d77ff;
--tiffany-blue: #83c5beff;
--alice-blue: #edf6f9ff;
--pale-dogwood: #ffddd2ff;
--atomic-tangerine: #e29578ff;

/* CSS HSL */
--caribbean-current: hsla(185, 100%, 23%, 1);
--tiffany-blue: hsla(174, 36%, 64%, 1);
--alice-blue: hsla(195, 50%, 95%, 1);
--pale-dogwood: hsla(15, 100%, 91%, 1);
--atomic-tangerine: hsla(16, 65%, 68%, 1);

/* SCSS HEX */
$caribbean-current: #006d77ff;
$tiffany-blue: #83c5beff;
$alice-blue: #edf6f9ff;
$pale-dogwood: #ffddd2ff;
$atomic-tangerine: #e29578ff;

/* SCSS HSL */
$caribbean-current: hsla(185, 100%, 23%, 1);
$tiffany-blue: hsla(174, 36%, 64%, 1);
$alice-blue: hsla(195, 50%, 95%, 1);
$pale-dogwood: hsla(15, 100%, 91%, 1);
$atomic-tangerine: hsla(16, 65%, 68%, 1);

/* SCSS RGB */
$caribbean-current: rgba(0, 109, 119, 1);
$tiffany-blue: rgba(131, 197, 190, 1);
$alice-blue: rgba(237, 246, 249, 1);
$pale-dogwood: rgba(255, 221, 210, 1);
$atomic-tangerine: rgba(226, 149, 120, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-right: linear-gradient(90deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-bottom: linear-gradient(180deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-left: linear-gradient(270deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-top-right: linear-gradient(45deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-bottom-right: linear-gradient(135deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-top-left: linear-gradient(225deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-bottom-left: linear-gradient(315deg, #006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);
$gradient-radial: radial-gradient(#006d77ff, #83c5beff, #edf6f9ff, #ffddd2ff, #e29578ff);