@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303E73;
    margin: auto;
    padding: 2%;
}

h1 {
    color: #f0e8c9;

}

h1#principal {
    text-align: center;
    background-color: #515F90;

}

h2 {
    color: #f0e8c9;
    text-decoration: underline 5% #515F90;
}

p {
    color: #f0e8c9;;
    text-indent: 30px;
    width: 70%;
}

.basico {
    color: rgb(128, 255, 0);
}

.intermediario {
    color: chocolate;
}

.avancado {
    color: crimson;
}

.destaque {
    background-color: #7a85ad84;
    
}